<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <title>Country Searcher</title>
</head>
<body>
    <div>
        <form method="POST">
            <h1>Search a Country</h1>
            <input type="text" placeholder="Type the country" name="country">
            <button type="submit"><i class="bx bx-search"></i></button>
        </form>
    </div>
    {% if country %}

        <div>
            <h2>Country's data</h2>
            <p><strong>Name:</strong> {{ country.name }}</p>
            <p><strong>Capital:</strong> {{ country.capital }}</p>
            <p><strong>Region:</strong> {{ country.region }}</p>
            <p><strong>Population:</strong> {{ country.population }}</p>
            <p><strong>Currency:</strong> {{ country.currency }}</p>
        </div>
    {% endif %}

    {%if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>